img {
border: 2px solid black;
border-radius: 20%;
width: 200px;
margin-bottom: 16px;
}
footer {
    margin-top: 20px;
font-size: 14px;
color: gray;
}
body {
background-image: url('./image/background.png');
background-size: cover;
text-align: center;
padding: 16px;
}
hi {
margin-bottom: 16px;
}
